<%= render 'users/list', user: @user, book: @book_new %>
<P class= "notice"><%= flash[:notice] %></P>

<h2>User info</h2>





<%= form_for(@user) do |f| %>

    <div class="form-group">
  	<%= f.label :user, 'Name' %>
    <%= f.text_field :name %>
    </div>
  
    <div class="form-group">
    <%= f.attachment_field :profile_image %>
    <!-- <label>Image</label> -->
    </div>
  
    <div class="form-group">
  	<%= f.label :user, 'Introduction' %>
    <%= f.text_area :introduction %>
    </div>
  

    <%= f.submit %>



<% end %>