
<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><a class="glyphicon glyphicon-home home" href="/users/5809"> Home</a></li>
          <li><a class="glyphicon glyphicon-user users" href="/users"> Users</a></li>
          <li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>
          <li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
      </ul>
    </nav>
  </div>
</header>

  	<div class='body'>
      <div class='container'>

        <p class= "notice"><%= flash[:notice] %></p>


      	<div class='row'>
  
  <div class='col-xs-3'>
    <h2>User info</h2>
    <table class='table'>
      <tr><img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image" /></tr> 
      <tr>
    	  <th>name</th>
    	  <th><%= @user.name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th></th>
      </tr>
</table>

<div class='row'>
  <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></a>
</div>

<h2>Books</h2>

    <table>
  <thead>
    <tr>

      <th>Title</th>
      <th>Opinion</th>

    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<h2>New book</h2>
<%= form_for(@book) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>

    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">

<% end %>



  </body>
</html>
